@font-face {
    font-family: 'Tempus Sans ITC';
    src: url('TempusSansITC.woff2') format('woff2'),
        url('TempusSansITC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

