@font-face {
    font-family: 'KG Empire of Dirt';
    src: url('KGEmpireofDirt.woff2') format('woff2'),
        url('KGEmpireofDirt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

