/* styles goes here */
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

ul {
    list-style: none;
    font-size: 24px;
    font-weight: 700;
}

li:first-child {
    margin-top: 15px;
}

li {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}

li::before {
    content: 'in';
    background-color: red;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
}

li:hover {
    opacity: .8;
}

h1, button {
    margin-left: 130px;
}

h3 {
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

p {
    color: gray;
    font-size: 16px;
}

.out {
    color: gray;
}

.out::before {
    content: 'out';
    background-color: rgb(65, 224, 65);
    padding: 5px;
}