@font-face {
    font-family: 'MuseoSansW01-Rounded100';
    src: url('../fonts/MuseoSansW01-Rounded100.woff2') format('woff2'),
        url('../fonts/MuseoSansW01-Rounded100.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansW01-Rounded100';
    src: url('../fonts/MuseoSansW01-Rounded100.woff2') format('woff2'),
        url('../fonts/MuseoSansW01-Rounded100.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

