body {
    font-size: 20px;
    background-color: black;
}

h2 {
    color: white;
    margin: 20px 20px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.violet {
    color: violet;
}