* {
  outline: none;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  min-height: 230px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front {
  position: absolute;
  border: 1px solid #444;
  border-radius: 5px;
  min-height: 230px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 5px 5px 5px #999;
          box-shadow: 5px 5px 5px #999;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg) translateZ(0);
  transform: rotateY(-180deg) translateZ(0);
}

.panel__top {
  min-height: 115px;
}

.panel__corner__number {
  position: absolute;
  top: 5px;
  left: 3.5%;
  font-size: 22px;
}

.panel__corner__suit {
  position: absolute;
  top: 25px;
  left: 3%;
  font-size: 25px;
}

.panel__corner__suit-ten {
  left: 6%;
}

.panel__body-1 {
  position: absolute;
  top: 1vh;
  left: 25%;
}

.panel__body-2 {
  position: absolute;
  top: 8vh;
  left: 25%;
}

.panel__body-3 {
  position: absolute;
  top: 1vh;
  left: 62%;
}

.panel__body-4 {
  position: absolute;
  top: 8vh;
  left: 62%;
}

.panel__body-5 {
  position: absolute;
  top: 4.5vh;
  left: 43.5%;
}

.panel__body-big {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  font-size: 120px;
}

.panel__body-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  font-size: 120px;
}

.panel__bottom {
  min-height: 115px;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.diams, .hearts {
  color: #e6180A;
}

.clubs .panel__body-1 {
  position: absolute;
  top: 1vh;
  left: 20%;
}

.clubs .panel__body-2 {
  position: absolute;
  top: 8vh;
  left: 20%;
}

.clubs .panel__body-3 {
  position: absolute;
  top: 1vh;
  left: 64%;
}

.clubs .panel__body-4 {
  position: absolute;
  top: 8vh;
  left: 64%;
}

.clubs .panel__body-5 {
  position: absolute;
  top: 4.5vh;
  left: 42%;
}

.back {
  background-image: url(./../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #444;
  -webkit-box-shadow: 5px 5px 5px #999;
          box-shadow: 5px 5px 5px #999;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 230px;
  width: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: .5s ease-in;
  transition: .3s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(0);
  transform: rotateY(0deg) translateZ(0);
}

.wrapper:hover .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.wrapper:hover .back {
  -webkit-transform: rotateY(1800deg);
  transform: rotateY(180deg);
}
/*# sourceMappingURL=style.css.map */