/* styles goes here */
  
  .block {
    margin-bottom: 20px;
  }
  
  .block_cell {
    display: inline-block;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #a0a0a0;
    background-color: #fff;
    text-align: center;
  }