body {
  font-family: 'Josefin Sans', sans-serif;
  border: 15px solid #fff;
}

.section-search {
  background-image: url(../img/bg-search.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 740px;
  height: auto;
}

.search__info {
  text-align: center;
  margin-top: 260px;
}

.search__info--2 {
  margin-top: -2px;
}

.search__info--heading {
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.8px;
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
}

.search__info--text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 5.4px;
  margin-top: 1px;
  padding-left: 7px;
}

.form {
  margin: 0 auto;
  margin-top: 46px;
  max-width: 650px;
}

.form__search {
  background-color: #fff;
  width: 100%;
  padding: 22px 0;
  padding-left: 127px;
  border: none;
  letter-spacing: 0.83px;
}

.form__search:focus, .form__search:active {
  background-color: #c0d4df;
  color: #666666;
  outline: #496bfe;
}

.form__submit {
  position: relative;
}

.form__submit--btn {
  padding: 24px 48px 20px 35px;
  background-color: #5474fd;
  border: 2px solid #fff;
  position: relative;
  bottom: 0;
  right: 0;
  color: white;
  font-family: 'Aleo', serif;
  font-size: 14px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  outline: #5474fd;
}

.form__submit--btn:hover {
  border-color: #00a2ff;
}

.form__submit--btn:active, .form__submit--btn:focus {
  background-color: #8bc6e9;
}

.form__submit--icon span {
  color: #fff;
  position: absolute;
  top: 21px;
  font-size: 20px;
  right: 16px;
}

.scroll {
  margin-top: 118px;
  text-align: center;
  letter-spacing: 1.1px;
  color: #fff;
  padding-left: 7px;
}

.scroll:hover {
  color: #00a2ff;
}

.scroll:hover .scroll__link {
  color: #00a2ff;
}

.scroll__link {
  text-decoration: none;
  color: #fff;
  padding: 25px;
}

.scroll__text {
  margin-bottom: 0;
}

.scroll__icon {
  font-size: 8px;
  letter-spacing: 5px;
  margin-top: 10px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.nav {
  background-color: #5474fd;
  min-height: 80px;
  position: static;
  z-index: 5;
}

.nav-menu__list {
  list-style: none;
}

.nav-menu__item {
  margin-right: 39px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.nav-menu__item:hover .nav-menu__item--link:after,
.nav-menu__item:focus .nav-menu__item--link:after {
  width: 100%;
}

.nav-menu__item:last-child {
  margin-right: -2px;
}

.nav-menu__item--link {
  text-decoration: none;
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 13px;
  letter-spacing: 0.9px;
}

.nav-menu__item--link::after {
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.section-why {
  background-image: url(../img/bg-why.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 685px;
  height: auto;
  position: relative;
}

.section-why::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 685px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
}

.why-us {
  position: relative;
  z-index: 1;
  margin-top: 200px;
  color: #fff;
}

.why-us__heading {
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.why-us__text {
  font-size: 16px;
  color: #e8e8e8;
  font-weight: 400;
  padding-top: 54px;
  margin: 0;
  line-height: 1.65;
  letter-spacing: 0.6px;
}

.why-us__text--2 {
  padding-top: 26px;
  padding-bottom: 32.5px;
}

.why-us__img--1 {
  background-image: url(../img/img-2.jpg);
  background-size: cover;
  max-width: 350px;
  min-height: 220px;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-58.5%, -71%);
          transform: translate(-58.5%, -71%);
  z-index: 1;
}

.why-us__img--2 {
  background-image: url(../img/img-1.jpg);
  background-size: cover;
  max-width: 350px;
  min-height: 220px;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-23%, -69%);
          transform: translate(-23%, -69%);
  z-index: 1;
}

.btn-primary {
  margin-top: 10px;
}

.btn-primary:hover .btn-primary__link--1::after {
  background-color: #2251ee;
}

.btn-primary:hover .btn-primary__link--1 {
  background-color: #0a40a3;
}

.btn-primary:hover .btn-primary__link--2::after {
  background-color: #2251ee;
}

.btn-primary:hover .btn-primary__link--2 {
  background-color: #0a40a3;
}

.btn-primary:active .btn-primary__link--1,
.btn-primary:focus .btn-primary__link--1 {
  background-color: #00a2ff;
}

.btn-primary:active .btn-primary__link--2,
.btn-primary:focus .btn-primary__link--2 {
  background-color: #00a2ff;
}

.btn-primary__wrapper {
  padding: 20px;
  min-width: 225px;
  overflow: hidden;
}

.btn-primary__link--1 {
  position: relative;
  background-color: #5474fd;
  padding: 22px 112px;
  margin-left: -19px;
}

.btn-primary__link--1::before {
  content: 'EXPLORE PLACES';
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  margin-left: 4px;
  z-index: 2;
}

.btn-primary__link--1::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 95px;
  background-color: #496bfe;
  -webkit-transform: translateX(-76%) rotatez(45deg);
          transform: translateX(-76%) rotatez(45deg);
  z-index: 1;
}

.btn-primary__link--2 {
  position: relative;
  background-color: #5474fd;
  padding: 22px 112px;
  margin-left: -20px;
  z-index: 2;
}

.btn-primary__link--2::before {
  content: 'BOOK NOW';
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-34%, -50%);
          transform: translate(-34%, -50%);
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  margin-left: 4px;
  z-index: 3;
}

.btn-primary__link--2::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 95px;
  background-color: #496bfe;
  -webkit-transform: translateX(-77%) rotatez(45deg);
          transform: translateX(-77%) rotatez(45deg);
  z-index: 2;
}

.section-black {
  background-color: #333;
  width: 100%;
  min-height: 337px;
  height: auto;
  position: relative;
}

.wrapper-black {
  color: #e8e8e8;
  font-family: 'Aleo', serif;
  font-size: 36px;
  padding-left: 2px;
  padding-top: 100px;
}

.wrapper-black__icon {
  font-size: 59px;
  position: relative;
  z-index: 1;
}

.wrapper-black__icon::after {
  content: '';
  position: absolute;
  width: 118%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
}

.wrapper-black__text {
  padding-top: 27px;
}

.shape {
  text-align: center;
  position: absolute;
  top: 29%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon-search {
  color: #5474fd;
}

.icon-icon2 {
  color: #ff6363;
}

.icon-icon1 {
  color: #00a2ff;
}

.section-spain {
  width: 100%;
  min-height: 700px;
  height: auto;
}

.section-spain__1 {
  background-image: url(../img/bg-spain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 700px;
  height: auto;
}

.section-spain__2 {
  background-image: url(../img/bg-spain-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 700px;
  height: auto;
}

.wrapper__spain {
  position: relative;
  width: 100%;
  min-height: 370px;
  padding-left: 30px;
  margin-top: 230px;
  padding-top: 30px;
}

.wrapper__spain::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 370px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
  z-index: 0;
}

.wrapper__spain__info {
  position: relative;
  z-index: 1;
}

.wrapper__spain__info--place {
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 18px;
}

.wrapper__spain__info--heading {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin: 0;
  padding-top: 28px;
}

.wrapper__spain__info--text {
  color: #e8e8e8;
  font-size: 16px;
  margin: 0;
  line-height: 1.63;
  padding-top: 20px;
  letter-spacing: -1.04px;
  padding-bottom: 33px;
}

.section-tourist {
  background-image: url(../img/bg-tourist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 730px;
  height: auto;
  position: relative;
}

.section-tourist::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 730px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
}

.tourist {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 100px;
}

.tourist__heading {
  font-family: 'Aleo', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.4px;
  padding-top: 16px;
}

.wrapper__tourist {
  margin-top: 90px;
  position: relative;
  width: 100%;
  min-height: 285px;
}

.wrapper__tourist::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  min-height: 285px;
  height: auto;
  background-color: #333;
  z-index: 0;
}

.wrapper__tourist--photo {
  background-image: url(../img/img-tourist.jpg);
  background-size: cover;
  max-width: 100%;
  min-height: 285px;
  height: auto;
  position: relative;
  z-index: 1;
}

.wrapper__tourist__info {
  padding-left: 29px;
  position: relative;
  z-index: 1;
}

.wrapper__tourist__info--author {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.9px;
  padding-top: 50px;
  margin: 0;
}

.wrapper__tourist__info--icon {
  color: #5474fd;
  font-size: 19px;
  padding-top: 25px;
}

.wrapper__tourist__info--text {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: -10px;
  line-height: 1.65;
  letter-spacing: -1.06px;
  text-indent: 30px;
}

.footer {
  min-height: 268px;
  width: 100%;
  background-color: #232323;
}

.wrapper__footer {
  margin-top: 69px;
}

.wrapper__footer--heading {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.98px;
  color: #fff;
  padding-left: 1px;
  margin: 0;
  padding-top: 50px;
}

.wrapper__footer--info {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin: 0 -4px;
  padding-top: 8px;
  letter-spacing: 0.5px;
}

.wrapper__footer--social {
  margin: 28px -4px;
}

.social__link {
  text-decoration: none;
  color: #e8e8e8;
  margin-right: 19px;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.social__link:hover {
  color: #5474fd;
}

.social__link--first {
  padding-left: 0;
}

.social__link--last {
  margin-right: 0;
  padding-right: 0;
}
/*# sourceMappingURL=style.css.map */