body {
  font-family: 'Josefin Sans', sans-serif;
  border: 15px solid #fff;
}

.section-search {
  background-image: url(../img/bg-search.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 740px;
  height: auto;
}

.search {
  text-align: center;
  margin-top: 260px;
}

.search__info {
  margin-top: -2px;
}

.search__heading {
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.8px;
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
}

.search__text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 5.4px;
  margin-top: 1px;
  padding-left: 7px;
}

.form {
  margin: 0 auto;
  margin-top: 46px;
  max-width: 650px;
}

.form__search {
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 22px 0;
  padding-left: 13px;
  padding-right: 10px;
  border: none;
  letter-spacing: 0.83px;
}

.form__search[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.form__search[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.form__search::-webkit-search-decoration, .form__search::-webkit-search-cancel-button, .form__search::-webkit-search-results-button, .form__search::-webkit-search-results-decoration {
  display: none;
}

.form__search:focus, .form__search:active {
  background-color: #c0d4df;
  color: #666666;
  outline: #496bfe;
}

.form__submit {
  position: relative;
}

.form__btn {
  padding: 24px 48px 20px 35px;
  background-color: #5474fd;
  border: 2px solid #fff;
  position: relative;
  bottom: 0;
  right: 0;
  color: white;
  font-family: 'Aleo', serif;
  font-size: 14px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  outline: #5474fd;
  cursor: pointer;
}

.form__btn:hover {
  border-color: #00a2ff;
}

.form__btn:active, .form__btn:focus {
  background-color: #8bc6e9;
}

.form__icon span {
  color: #fff;
  position: absolute;
  top: 21px;
  font-size: 20px;
  right: 16px;
}

.scroll {
  text-align: center;
  letter-spacing: 1.1px;
  color: #fff;
  padding-left: 7px;
  width: 18%;
  margin: 118px auto 0 auto;
}

.scroll:hover {
  color: #00a2ff;
}

.scroll:hover .scroll__link {
  color: #00a2ff;
}

.scroll__link {
  text-decoration: none;
  color: #fff;
  padding: 25px;
}

.scroll__text {
  margin-bottom: 0;
}

.scroll__icon {
  font-size: 8px;
  letter-spacing: 5px;
  margin-top: 10px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.nav {
  background-color: #5474fd;
  max-width: 100%;
  height: auto;
  position: static;
  z-index: 5;
  min-height: 80px;
}

.nav-wrapper {
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .nav-wrapper {
    width: 98%;
    padding-left: 20px;
  }
}

.nav-menu__list {
  list-style: none;
}

.nav-menu__item {
  margin-right: 39px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.nav-menu__item:last-child {
  margin-right: -2px;
}

.nav-menu__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 13px;
  letter-spacing: 0.9px;
}

.nav-menu__link::after {
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav-menu__link:hover:after, .nav-menu__link:focus:after {
  width: 100%;
}

.section-why {
  background-image: url(../img/bg-why.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 685px;
  height: auto;
  position: relative;
}

.section-why::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 685px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .section-why::after {
    min-height: 689px;
    margin-top: -2px;
  }
}

.why-us {
  position: relative;
  z-index: 1;
  margin-top: 200px;
  color: #fff;
  max-width: 540px;
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .why-us {
    padding-left: 20px;
  }
}

.why-us__heading {
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.why-us__text {
  font-size: 16px;
  color: #e8e8e8;
  font-weight: 400;
  padding-top: 54px;
  margin: 0;
  line-height: 1.65;
  letter-spacing: 0.6px;
}

.why-us__text--2 {
  padding-top: 26px;
  padding-bottom: 32.5px;
}

.why-us__img--1 {
  margin-top: 120px;
  width: 100%;
  max-width: 350px;
  position: relative;
  left: 5%;
  z-index: 1;
}

.why-us__img--1 img {
  max-width: 100%;
  height: auto;
}

.why-us__img--2 {
  width: 100%;
  max-width: 350px;
  position: relative;
  z-index: 1;
}

.why-us__img--2 img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  margin-top: 10px;
  max-width: 225px;
}

.btn-primary:hover .btn-primary__link--1::after {
  background-color: #2251ee;
}

.btn-primary:hover .btn-primary__link--1 {
  background-color: #0a40a3;
}

.btn-primary:active .btn-primary__link--1,
.btn-primary:focus .btn-primary__link--1 {
  background-color: #00a2ff;
}

.btn-primary:hover .btn-primary__link--2::after {
  background-color: #2251ee;
}

.btn-primary:hover .btn-primary__link--2 {
  background-color: #0a40a3;
}

.btn-primary:active .btn-primary__link--2,
.btn-primary:focus .btn-primary__link--2 {
  background-color: #00a2ff;
}

.btn-primary__wrapper {
  padding: 20px;
  min-width: 225px;
  overflow: hidden;
}

.btn-primary__link--1 {
  position: relative;
  background-color: #5474fd;
  padding: 22px 243px;
  margin-left: -39px;
}

.btn-primary__link--1::before {
  content: 'EXPLORE PLACES';
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  margin-left: 4px;
  z-index: 2;
}

.btn-primary__link--1::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 95px;
  background-color: #496bfe;
  -webkit-transform: translateX(-30%) rotatez(45deg);
          transform: translateX(-30%) rotatez(45deg);
  z-index: 1;
}

.btn-primary__link--2 {
  position: relative;
  background-color: #5474fd;
  padding: 22px 225px;
  margin-left: -20px;
  z-index: 2;
}

.btn-primary__link--2::before {
  content: 'BOOK NOW';
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-34%, -50%);
          transform: translate(-34%, -50%);
  color: #fff;
  font-family: 'Aleo', serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  margin-left: 4px;
  z-index: 3;
}

.btn-primary__link--2::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 95px;
  background-color: #496bfe;
  -webkit-transform: translateX(-28%) rotatez(45deg);
          transform: translateX(-28%) rotatez(45deg);
  z-index: 2;
}

.section-black {
  background-color: #333;
  width: 100%;
  min-height: 337px;
  height: auto;
  position: relative;
}

.wrapper-black {
  color: #e8e8e8;
  font-family: 'Aleo', serif;
  font-size: 36px;
  padding-left: 2px;
  padding-top: 100px;
}

.wrapper-black__icon {
  font-size: 59px;
  position: relative;
  z-index: 1;
}

.wrapper-black__icon::after {
  content: '';
  position: absolute;
  width: 118%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: -1;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .wrapper-black__icon::after {
    width: 170%;
    height: 120%;
    top: -10%;
    left: -30%;
  }
}

.wrapper-black__text {
  padding-top: 27px;
}

.shape {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 29%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .shape {
    top: 31%;
  }
}

.icon-search {
  color: #5474fd;
}

.icon-icon2 {
  color: #ff6363;
}

.icon-icon1 {
  color: #00a2ff;
}

.section-spain {
  width: 100%;
  height: auto;
}

.section-spain__1 {
  background-image: url(../img/bg-spain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 700px;
  height: auto;
}

.section-spain__2 {
  background-image: url(../img/bg-spain-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 700px;
  height: auto;
}

.spain {
  position: relative;
  width: 100%;
  min-height: 370px;
  padding-left: 30px;
  margin-top: 230px;
  padding-top: 30px;
}

.spain::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 370px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
  z-index: 0;
}

.spain__info {
  position: relative;
  z-index: 1;
}

.spain__place {
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 18px;
}

.spain__heading {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin: 0;
  padding-top: 28px;
}

.spain__text {
  color: #e8e8e8;
  font-size: 16px;
  margin: 0;
  line-height: 1.63;
  padding-top: 20px;
  letter-spacing: -1.04px;
  padding-bottom: 33px;
}

.section-tourist {
  background-image: url(../img/bg-tourist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 730px;
  height: auto;
  position: relative;
}

.section-tourist::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 730px;
  height: auto;
  background-color: #333;
  opacity: 0.9;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .section-tourist::after {
    min-height: 734px;
    margin-top: -2px;
  }
}

.tourist {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 100px;
}

.tourist__heading {
  font-family: 'Aleo', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.4px;
  padding-top: 16px;
}

.wrapper-tourist {
  margin-top: 90px;
  position: relative;
  width: 100%;
}

.wrapper-tourist::after {
  content: '';
  margin-left: 15px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  width: 100%;
  min-height: 285px;
  height: auto;
  background-color: #333;
  z-index: 0;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .wrapper-tourist::after {
    width: 97%;
  }
}

.wrapper-tourist__photo {
  max-width: 445px;
  width: 100%;
  min-height: 285px;
  height: auto;
  position: relative;
  z-index: 1;
}

.wrapper-tourist__photo img {
  max-width: 100%;
  height: 100%;
}

.wrapper-tourist__info {
  padding-left: 29px;
  position: relative;
  z-index: 1;
}

.wrapper-tourist__author {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.9px;
  margin: 0;
}

.wrapper-tourist__icon {
  color: #5474fd;
  font-size: 19px;
  padding-top: 25px;
}

.wrapper-tourist__text {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: -9px;
  line-height: 1.65;
  letter-spacing: -1px;
  text-indent: 30px;
}

.footer {
  min-height: 268px;
  width: 100%;
  background-color: #232323;
}

.wrapper-footer {
  margin-top: 69px;
}

.wrapper-footer__heading {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.98px;
  color: #fff;
  padding-left: 1px;
  margin: 0;
  padding-top: 50px;
}

.wrapper-footer__info {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin: 0 -4px;
  padding-top: 8px;
  letter-spacing: 0.5px;
}

.wrapper-footer__social {
  margin: 28px -4px;
}

.social__link {
  text-decoration: none;
  color: #e8e8e8;
  margin-right: 19px;
  padding-top: 16px;
  padding-right: 5px;
}

.social__link:hover {
  color: #5474fd;
}

.social__link--first {
  padding-left: 0;
}

.social__link--last {
  margin-right: 0;
  padding-right: 0;
}
/*# sourceMappingURL=style.css.map */